covered topics 
- theory
- ```list```, ```dict```, ```set``` comprehensions
- ```lambda```
- module *functools*
- module *itertools*

tips (*after typing all of these*)
- ```lambda``` *should* not be long than one line (readability)
- brevity | readable, well, choose your own.

#### *list* comprehension

In [123]:
from random import random 

# do NOT use this
[ random() for _ in range(5) if _ >= 0.5]  # u won't get the right result 

# use this one 
rd      = [ random() for i in range(5)]   # stored the values 
rdlarge = [ x for x in rd if x >= 0.5]

rdlarge

# combine the `rd` and `rdlarge`
[x for x in [random() for _ in range(5)] if x >= 0.5]

[0.1973511248248484,
 0.44985876478324216,
 0.9382841223142872,
 0.8841159035125963]

[0.7133759418581492, 0.9076220091973534]

[0.7802165584120034,
 0.8737309338731933,
 0.5105781284941995,
 0.5287767355625747]

#### *dict* & *set* comprehension

In [124]:
# ---- dict ---- 

# range | string 
{i: i**2 for i in range(5)}
{s: s*2 for s in 'what'}

{
    x**2: [y for y in range(x)]  # k, [v]
    for x in range(5)
}

# ---- set ---- 

[x*y for x in range(3) for y in range(3)]  # list compreh
{x*y for x in range(3) for y in range(3)}  # set  compreh (unique & no-order)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

{'w': 'ww', 'h': 'hh', 'a': 'aa', 't': 'tt'}

{0: [], 1: [0], 4: [0, 1], 9: [0, 1, 2], 16: [0, 1, 2, 3]}

[0, 0, 0, 0, 1, 2, 0, 2, 4]

{0, 1, 2, 4}

#### *lambda*

In [125]:
class Spam(object):
    def __init__(self, value):
        self.value = value 
        
    def __repr__(self):
        return f'<{self.__class__.__name__}: {self.value}>'
    

spams = [Spam(5), Spam(2), Spam(3)]
spams

spams_sorted = sorted(spams, key=lambda x: x.value)
spams_sorted

#### functools

In [126]:
import heapq
from functools import partial 

heap = []

# as shortcut 
push     = partial(heapq.heappush,  heap)
smallest = partial(heapq.nsmallest, iterable=heap)

push(3)
push(1)
push(2)
push(4)

heap 
smallest(2)

[1, 3, 2, 4]

[1, 2]

In [127]:
import operator as opt 
from functools import reduce 

reduce(opt.add, range(1, 101))
reduce(opt.mul, range(1, 11))

5050

3628800

In [128]:
# --- example code from stdlib --- 

def _reduce(function, iterable, initializer=None):
    
    it = iter(iterable)      # conv as an iterator 
    
    if initializer is None:  
        value = next(it)     # take the first elem from ur iterable 
        
    else:
        value = initializer  # specify the start val by ur own 
        
    for element in it:     
        value = function(value, element)
        
    return value 


_reduce(opt.mul, [3,4,5])
_reduce(opt.mul, [3,4,5], initializer=2)

60

120

#### itertools

In [129]:
import operator as opt 
import itertools as itr

In [130]:
# accumulate 

nums = [1, 2, 3, 4]
  
list(itr.accumulate(nums))          # 1, 1+2, 1+2+3, ...
list(itr.accumulate(nums,opt.mul))  # 1, 1*2, 1*2*3, ...

[1, 3, 6, 10]

[1, 2, 6, 24]

In [131]:
# chain 

list(itr.chain(
    range(0,5), range(5, 11)      # *iterables -- whatever 
))

list(itr.chain.from_iterable(
    [
        range(0,5), range(5, 11)  # iterable   -- all in one 
    ]
))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [132]:
# combinations  &  permutations 

list(itr.combinations(
    'abc', 2  
))

list(itr.combinations_with_replacement(
    'abc', 2  # 'ab' is the same as 'ba'
))

list(itr.permutations(
    'abc', 2  # 'ab' differs from 'ba'
))

# powerset ( {x,y} -> {}, {x}, {y}, {x,y} )

def powerset(iterable):
    return itr.chain.from_iterable(
        itr.combinations(
            iterable, i
        ) for i in range(len(iterable) + 1)
    )

list(powerset('xy'))

[('a', 'b'), ('a', 'c'), ('b', 'c')]

[('a', 'a'), ('a', 'b'), ('a', 'c'), ('b', 'b'), ('b', 'c'), ('c', 'c')]

[('a', 'b'), ('a', 'c'), ('b', 'a'), ('b', 'c'), ('c', 'a'), ('c', 'b')]

[(), ('x',), ('y',), ('x', 'y')]

In [133]:
# compress 

list(itr.compress(
    range(0,10),            # the size was being limitted by the `flag`
    [False, True, 1, 1, 0]  # as flag (or filter, sort of)
))

[1, 2, 3]

In [134]:
# dropwhile  &  takewhile 

# ---- example one ----

list(itr.dropwhile(
    lambda x: x<3, [1, 2, 10, 20]  # 'num lt 3 -> [1, 2]' => [10, 20]
))

list(itr.takewhile(
    lambda x: x<3, [1, 2, 10, 20]  # reverse version of `dropwhile` (sort of)
))

# ---- example two ----

list(itr.dropwhile(
    lambda x: x<3, [1, 10, 2, 20]  # note: the '2' was preserved
))

list(itr.takewhile(
    lambda x: x<3, [1, 10, 2, 20]  # only got '1', no '2'
))

[10, 20]

[1, 2]

[10, 2, 20]

[1]

In [135]:
# count 

for a, b in zip(range(3), itr.count()):  
    a, b                  # the count start with 0 (default)
    
for a, b in zip(range(3), itr.count(10)):
    a, b                  # specify ur own

(0, 0)

(1, 1)

(2, 2)

(0, 10)

(1, 11)

(2, 12)

In [136]:
for a, b in zip(range(0, 10, 3), itr.count(9, 3)):
    a, b                  # `step` is supported

for a, b in zip(range(0, 5), itr.count(1, 0.5)):
    a, b                  # and the other example

(0, 9)

(3, 12)

(6, 15)

(9, 18)

(0, 1)

(1, 1.5)

(2, 2.0)

(3, 2.5)

(4, 3.0)

In [158]:
# islice 

# ---- get what u want from a generator ---- 
itr.islice(zip(itr.count(), [1, 2, 3]), 1); \
           zip(itr.count(), [1, 2, 3])

# well (just like normal slice)
list(itr.islice(itr.count(0), 
                1))
list(itr.islice(itr.count(), 
                1, 10))
list(itr.islice(itr.count(), 
                1, 10, 3))

[0]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 4, 7]

In [159]:
# groupby 

items = [
    ('a', 1), ('a', 2), 
    ('b', 2), ('b', 0), 
    ('c', 3)
]

items.sort()  # optional 

for grp, items in itr.groupby(items, lambda x: x[0]):
    print(f'{grp}: {[v for k,v in items]}')
    
list(items)   # => None ( exhausted by the `groupby` )

a: [1, 2]
b: [0, 2]
c: [3]

[]

#### ***The end***.